.jumbo-color {
    background-color: rgb(255, 214, 218);
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.wlc {
    font-weight: 500; 
}

.x {
    height: 100px;
    margin-top: 10px;
}

.portfolio {
    color: rgba(233, 14, 58, 0.735);
    text-decoration: none;
}

.res-portfolio {
    color: rgb(20, 220, 87);
    text-decoration: none;
}

.bootstrap-portfolio {
    color: rgb(220, 20, 213);
    text-decoration: none;
}

.psychic-game {
    color: rgb(20, 200, 220);
    text-decoration: none;
}
.unit-4-game {
    color: rgb(220, 157, 20);
    text-decoration: none;
}

.trivia-game {
    color: rgb(160, 220, 20);
    text-decoration: none;
}

.gif-tastic {
    color: rgb(120, 20, 220);
    text-decoration: none;
}

.train {
    color: rgb(220, 107, 20);
    text-decoration: none;
}

.date-night {
    color: rgb(247, 51, 208);
    text-decoration: none;
}


.nounderline {
    text-decoration: none !important;
  }

.card {
    background-color: rgb(249, 247, 244);
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa {
    padding: 10px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
      text-decoration: none;
      color: rgb(255, 89, 0);
  }
  
  .linked-In {
    margin-left: 50px; 
    padding-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  .mount-baldy a{
      margin-top: 0px;
      color: rgb(82, 165, 82);
      text-decoration: none;
  }
 